<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}<!-- title goes here -->{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link
      href="https://bootswatch.com/4/minty/bootstrap.css"
      rel="stylesheet">
  <link
      href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap"
      rel="stylesheet">
  <link href='' rel="stylesheet">

</head>
<body>
        {% block content %}{% endblock %}
</html>